body{
    background: hsl(212, 45%, 89%);
    margin: auto;
}

.QR{
    height: 180px;
    width: 180px;
    border-radius: 9px;
    margin-left:0;
    margin-right:0;
    
}

.outer{
    background: hsl(0, 0%, 100%);
    background-position: center;
    border-radius: 13px;
    padding-top: 7px;
    padding-left: 7px;
    margin-top: 230px;
    margin-left: 680px;
    margin-right: 662px;
    padding-bottom: 20px;
    
}

p{
    font-size:13px;
    font-family: 'Outfit', sans-serif;
    text-align:center;
    margin: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: auto;
}

